<div class="row">
  <div class="container">
    <div class="col-md-12 text-right">
      <a routerLink="/contacts/new" class="btn btn-primary">Create New Contact</a>
    </div>
    <div class="card col-md-4">
      <div class="card-body">
        <h5 class="card-title">John </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <a routerLink="/contacts/1" class="link">View Details</a>
      </div>
    </div>
  </div>
</div>
